*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #c66f0b;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
/* Dönen kinetik şekil */
.kinetic{
    position: relative;
    height: 80px;
    width: 80px;
}
/* Dönen üçgenler için başlangıç stili */
.kinetic::before, .kinetic::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;/* Şeffaf kenar çizgisi oluşturulur */
    border-bottom-color: white;
    border-radius: 50%;
    animation: rotateA 2s linear infinite 0.5s;/* İlk üçgene animasyon uygulanır */
}

/* İkinci üçgenin dönüş animasyonu */
.kinetic::before{
    transform: rotate(90deg);/* İlk konumu 90 derece döndürülmüş */
    animation: rotateB 2s linear infinite;
}

/*animasyon özelliği kazandırmak için*/

@keyframes rotateA {
    0%,
    25% {
        transform: rotate(0deg);
    }

    50%,
    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateB {
    0%,
    25% {
        transform: rotate(90deg);
    }

    50%,
    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(450deg);
    }
}

/* Alt yazı veya açıklama için kullanılan span */
span {
    position: absolute;
    top: 130px;
}