body{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* İçeriklerin taşması durumunda yeni satıra geçmesini sağlar */
    max-width: 25rem;  /* Kapsayıcının maksimum genişliğini 25 rem ile sınırlar */
}

.square{
    background-color: #111;
    box-shadow: 0 0 2px #000;
    height: 1rem;
    width: 1rem;
    margin: 2px;
    transition: 2s ease;  /* Stil değişikliklerinin 2 saniyede, yumuşak bir şekilde gerçekleşmesini sağlar */
}


.square:hover{
    transition-duration: 0s;  /* Fare karelerin üzerine geldiğinde geçiş süresini kaldırır */
}